<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Софт-навигатор</title>
</head>

<body>
    <header class="header-wrapper">
        <div class="header container">
            <div class="header-logo">
                <a href="/"><img src="../assets/img/logo.svg"></a>
            </div>
            <div class="header-nav">
                <nav>
                    <ul>
                        <li><a href="/">Услуги</a></li>
                        <li><a href="/about.html" class="active">О компании</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main container">
        <section class="content">
            <div>Наша компания имеет долгую историю и интересный жизненный путь. Начинался "Софт Навигатор" в 2010 г.
                как
                подразделение известной в Ивановской и ближних областях ГК "Контстанта-Холдинг". В основном мы
                обслуживали
                внутренние IT-потребности Холдинга, а также оказывали услуги его клиентам.</div>
            <br>
            <div>
                Со временем, когда в Софт Навигатор стало приходить всё больше заказчиков "по сарафану", а не по
                рекомендации Константы, мы обособились в отдельный дочерний проект. Тогда нашими основными задачами было
                сопровождение программных продуктов 1С, создание корпоративных сайтов и настройка интернет-рекламы.
            </div>
            <br>
            <div>
                Специфика нашей деятельности, а также в целом подход ко взаимоотношению с клиентами, предполагал
                многолетнее
                сотрудничество со многими из них. По привычке заказчики обращались к нам с любыми IT-задачами. А мы,
                даже не
                имея подобного пункта в прайс-листе, предпочитали нарастить компетенцию и оказать услугу, нежели
                отправить
                клиента в изматывающие поиски по другим подрядчикам. Поэтому из небольшой студии, специализирующейся в
                основном на штатных сервисных операциях, мы выросли в полноценную IT-компанию, способную решать
                нестандартные и сложные клиентские задачи.
            </div>
            <br>
            <div>
                На данный момент главным вектором нашей деятельности является внедрение ERP-систем: мы первые в области
                получили разрешение от франшизы на внедрение её флагманской программы 1С:ERP. Также мы с удовольствием
                решаем как типовые, так и оригинальные задачи по другим продуктам фирмы 1С. Наш штат включает в себя как
                непосредственно программистов, так системных администраторов, специалистов по сопровождению и
                квалифицированных руководителей проектов, что позволяет осуществлять полный цикл необходимых работ без
                привлечения сторонних компаний.
            </div>
            <br>
            <div>
                Также мы продолжаем помогать нашим клиентам в создании интернет-сайтов и интернет-магазинов,
                интернет-рекламе, маркировке товаров, обслуживании IT-инфраструкты и обеспечении IT-безопасности. Мы
                являемся разработчиками программного обеспечения и умеем дорабатывать как свои системы, так и системы
                других
                подрядчиков.
            </div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>