<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Софт-навигатор</title>
</head>

<body>
    <header class="header-wrapper">
        <div class="header container">
            <div class="header-logo">
                <a href="/"><img src="../assets/img/logo.svg"></a>
            </div>
            <div class="header-nav">
                <nav>
                    <ul>
                        <li><a href="/" class="active">Услуги</a></li>
                        <li><a href="/about.html">О компании</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main container">
        <section class="main-section">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="../assets/img/image_1.jpg" class="card-img-top">
                        <div class="card-body" style="height: 291px;">
                            <div
                                style="display: flex; justify-content: space-between; flex-direction: column; height: 100%;">
                                <div>
                                    <h5 class="card-title">1C</h5>
                                    <p class="card-text">Компания "Софт Навигатор" занимается автоматизацией управления
                                        и учета
                                        на базе программных продуктов «1С» и является официальным представителем фирмы
                                        "1С",
                                        "1С:Франчайзи".</p>
                                </div>
                                <button class="btn-primary w-100 p-2"><a href="/checkout.html?service=1c">Перейти к оформлению</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../assets/img/image_2.jpg" class="card-img-top">
                        <div class="card-body" style="height: 291px;">
                            <div
                                style="display: flex; justify-content: space-between; flex-direction: column; height: 100%;">
                                <div>
                                    <h5 class="card-title">ERP-решения</h5>
                                    <p class="card-text">Компания "Софт Навигатор" является участником проекта
                                        «1С:Центры
                                        компетенции по ERP-решениям», сети партнёров, созданной для распространения
                                        нового
                                        прикладного решения "1С:ERP Управление предприятием 2".</p>
                                </div>
                                <button class="btn-primary w-100 p-2"><a href="/checkout.html?service=ERP-system">Перейти к оформлению</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../assets/img/image_3.jpg" class="card-img-top">
                        <div class="card-body" style="height: 291px;">
                            <div
                                style="display: flex; justify-content: space-between; flex-direction: column; height: 100%;">
                                <div>
                                    <h5 class="card-title">WEB-разработка</h5>
                                    <p class="card-text">Мы имеем большой опыт разработки сайтов для компаний различного
                                        уровня
                                        и различной сложности – от региональных до международных компаний.</p>
                                </div>
                                <button class="btn-primary w-100 p-2"><a href="/checkout.html?service=WEB-development">Перейти к оформлению</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../assets/img/image_4.jpg" class="card-img-top">
                        <div class="card-body" style="height: 291px;">
                            <div
                                style="display: flex; justify-content: space-between; flex-direction: column; height: 100%;">
                                <div>
                                    <h5 class="card-title">
                                        Системное администрирование</h5>
                                    <p class="card-text">В компаниях, где информационные технологии внедряются стихийно
                                        и
                                        хаотично, IT-инфраструктура быстро становится нелогичной и непрозрачной. Это
                                        замедляет
                                        работу всех подразделений и сказывается на информационной безопасности.</p>
                                </div>
                                <button class="btn-primary w-100 p-2"><a href="/checkout.html?service=System-analys">Перейти к оформлению</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../assets/img/image_5.jpg" class="card-img-top">
                        <div class="card-body" style="height: 291px;">
                            <div
                                style="display: flex; justify-content: space-between; flex-direction: column; height: 100%;">
                                <div>
                                    <h5 class="card-title">IT-безопасность</h5>
                                    <p class="card-text">Обеспечьте безопасность своей компании от внешних и внутренних
                                        угроз.</p>
                                </div>
                                <button class="btn-primary w-100 p-2"><a href="/checkout.html?service=IT-bezopasnost">Перейти к оформлению</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>